@model TipoCuenta
@{
    ViewData["Title"] = "Editando Tipo Cuenta...";
}

<h1>Editando Tipo Cuenta: @Model.NOMBRE</h1>

<h5>
    El tipo de cuenta se refiere a cómo podemos agrupar cuentas.
    Ejemplos: Préstamos, tarjetas de crédito, etc.
</h5>

<div asp-validation-summary="ModelOnly" class="text-danger" l"></div>

<form asp-action="Editar">
    <input type="hidden" asp-for="ID"/>
    <div class="mb-3">
        <label asp-for="NOMBRE" class="form-label"></label>
        <input type="text" asp-for="NOMBRE" class="form-control">
        <span asp-validation-for="NOMBRE" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}